.login-form {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #cbe78c;
    text-align: center; 
}
.login-form input[type="text"],
.login-form input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #999;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    transition: 0.3s;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px #68c86b;
}
