:root {
  --background: 0 0% 98%;
  --primary: 220 90% 56%;
}

body {
  font-family: Inter, sans-serif;
  height: 100vh;
  background-color: hsl(var(--background));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.tabs {
  font-size: 1.2rem;
  font-weight: 500;
  background-color: whitesmoke;
  border-radius: 100px;
  box-shadow: 0 0 12px rgba(24, 94, 224, 0.15),
              0 6px 12px rgba(24, 94, 224, 0.15);
  list-style: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: fit-content;
  padding: 5px;
}

input[type="radio"] {
  display: none;
}

.tab {
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 0.3s ease;
  color: black;
}

input[id="html"]:checked ~ label[for="html"],
input[id="css"]:checked ~ label[for="css"],
input[id="javascript"]:checked ~ label[for="javascript"],
input[id="react"]:checked ~ label[for="react"] {
  color: white;
  font-weight: 600;
  z-index: 3;
}


.tabs .slider {
  position: absolute;
  height: 50px;
  width: 150px;
  border-radius: 100px;
  top: 5px;
  left: 5px;
  background-color: hsl(var(--primary));
  transition: all 0.3s ease;
  z-index: 1;
}

/* Slider movement */
input[id="html"]:checked ~ .slider {
  transform: translateX(0%);
}
input[id="css"]:checked ~ .slider {
  transform: translateX(100%);
}
input[id="javascript"]:checked ~ .slider {
  transform: translateX(200%);
}
input[id="react"]:checked ~ .slider {
  transform: translateX(300%);
}
