body {
    margin: 0;
    text-align: center;
    background: linear-gradient(#70c5ce, #ffffff);
    font-family: Arial, sans-serif;
}
h1 {
    color: #fff;
    text-shadow: 2px 2px #000;
}

canvas {
    background: #70c5ce;
    display: block;
    margin: auto;
    border: 2px solid #000;
}
